# Python
__pycache__/
*.py[cod]
*.egg-info/

# Test araclari
.pytest_cache/
.coverage
htmlcov/

# Sanal ortam (virtual environment)
.venv/
venv/
env/

# IDE ayarları
.idea/
.vscode/

# macOS
.DS_Store
